<nav class="sidebar">
  <div class="sidebar-header">
      <div class="logo"></div>
      <div class="text">
          <div class="title">SIM SYSTEM</div>
          <div class="subtitle">ALL BRANCH</div>
      </div>
  </div>
  <hr class="line">
  <ul class="sidebar-menu">
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/supplier" routerLinkActive="active">
              <img class="sidebar-icon" src="assets/supplier.png" alt="Supplier icon">
              <span>អ្នកផ្គត់ផ្គង់</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="#">
              <img class="sidebar-icon" src="assets/customer.png" alt="Customer icon">
              <span>អតិថិជន</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/product" routerLinkActive="active" aria-current="page">
              <img class="sidebar-icon" src="assets/product.png" alt="Product icon">
              <span>ផលិតផល</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="#">
              <img class="sidebar-icon" src="assets/sale.png" alt="Sale icon">
              <span>លក់</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="#">
              <img class="sidebar-icon" src="assets/customer_return.png" alt="Customer return icon">
              <span>អតិថិជនប្តូរ</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="#">
              <img class="sidebar-icon" src="assets/import.png" alt="Import icon">
              <span>ទិញចូល</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a class="sidebar-link" routerLink="#">
              <img class="sidebar-icon" src="assets/return.png" alt="Return icon">
              <span>បញ្ជូនត្រឡប់</span>
          </a>
      </li>
  </ul>
</nav>
